.panel {
    padding: 30px;
    background-color: rgb(0, 125, 150);
    border-radius: 10px;
    border-style: groove;
    border-color: rgb(0, 200, 200);
    margin-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
a {
    color: aliceblue;
    margin-right: 20px;
}
a:hover {
    color: rgb(150, 150, 150);
}
.predstaveni {
    display: flex;
    background-color: rgb(205, 205, 205);
    margin-bottom: 100px;
    border-radius: 5px;
    padding: 30px;
    border-style: double;
    border-color: black;
}
.predstaveni > p{
    margin-left: 20px;
    margin-right: auto;
    padding: 100px;
    font-size: 50px;
    text-align: center;
    background-color: rgb(0, 125, 150);
    border-radius: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
}
.fotka {
    margin-top: 20px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 50%;
}
.ceník {
    padding: 40px;
    background-color: rgb(0, 90, 105);
    border-radius: 5px;
    margin-bottom: 20px; 
    border-style: double;
    border-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ceník1{
    font-weight: bold;
    font-size: 50px;
    padding: 25px;
    background-color: rgb(0, 125, 150);;
    border-style: groove;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-color: rgb(0, 200, 200);
    border-inline-color: rgb(0, 200, 200);
    
}
.ceník2 {
    text-align: center;
    margin-bottom: 5px;
    padding: 75px;
    background-color: rgb(0, 125, 150);
    border-style: groove;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-color: rgb(0, 200, 200);
    border-inline-color: rgb(0, 200, 200);
    line-height: 2;
}
.zpet {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(0, 125, 150);
    border-style: groove;
    border-color: rgb(0, 200, 200);
    text-align: center;
    
}
p {
    text-align: center;
    color: aliceblue;
    font-size: 30px;
}
